.searchbar-input {
  box-shadow: none !important;
}
.search-row{
  margin-top: 8px;
}
agm-map {
	width: 100%;
	height: 74vh;
}

// Card
ion-card {
	img {
		max-height: 280px;
	}
}

ion-footer {
  padding: 8px 16px !important;
}
